extends layout.pug 
block content 
    .container
      h1 Bienvenido a Fotaza
      p Una nueva red social que te invita a ser parte de una comunidad digital
    .home-grid
      .container-imagen 
        img(src="/images/fotaza.jpg", alt="Imagen de bienvenida", class="welcome-image")
      .container-texto-home
      p En Fotaza, puedes compartir tus momentos favoritos a través de fotos, seguir a tus amigos y descubrir nuevas inspiraciones. ¡Únete a nosotros y comienza a compartir tu mundo visual hoy mismo!       