mixin nav 
        li
          a(href='/index') Home
        li
          a(href='./login') Login
        li
          a(href='/explorar') Explorar
        li    
          a(href='./signup') Registrarse 